.component-3 {
  padding: 37px 6.25% 0 6.25%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 27px;
    color: $main-blue;
    span {
      color: $main-black;
    }
  }
  > div:first-of-type {
    margin-top: 18px;
    gap: 11px;
    > div {
      width: 33px;
      height: 1px;
      background-color: $speaker-div-color;
    }
    > div:first-of-type {
      margin-left: 2px;
    }
    > img {
      margin-top: -9px;
    }
  }
  > div:nth-of-type(2) {
    background-color: $main-black;
    width: 100%;
    height: 207px;
    margin-top: 36px;
  }
  h5 {
    font-size: 16px;
    text-align: left;
    width: 100%;
    letter-spacing: -0.35px;
    margin-top: 17px;
    margin-bottom: 12px;
  }
  > div:nth-of-type(3) {
    width: 100%;
    height: 1px;
    background-color: $about-us-line;
    margin-bottom: 11px;
  }
  > p {
    font-size: 13px;
    line-height: 23px;
    color: $paragraph-top-color;
    margin-bottom: 33px;
    margin-right: auto;
  }
  .check {
    margin-bottom: 19px;
    margin-right: auto;
    > img {
      object-fit: cover;
      width: 16px;
      height: 16px;
      margin-top: 3px;
      margin-right: 15px;
    }
    > p {
      font-size: 13px;
      color: $paragraph-top-color;
      line-height: 23px;
    }
  }
  button {
    width: 138px;
    height: 42px;
    border: none;
    color: $txt-white;
    background-color: $main-blue;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 42px;
    &:hover {
      cursor: pointer;
    }
  }
}
