@media screen and (min-width: $tablet) {
  .component-2 {
    padding: 150px 4.7% 0 4.7%;
    height: 591px;
    > h1:first-of-type {
      font-size: 59px;
    }
    > h1:nth-of-type(2) {
      font-size: 71.77px;
      letter-spacing: -2.2px;
    }
    > p:first-of-type {
      display: none;
    }
    > p:last-of-type {
      display: block;
      font-size: 18.9px;
      display: block;
      font-size: 18.8px;
      letter-spacing: 0.02px;
    }
    div:last-of-type {
      width: 144px;
      height: 44px;
      margin-left: -6px;
      margin-top: 36px;
      > button {
        width: 140px;
        height: 40px;
        font-size: 13px;
      }
    }
  }
}
