@media screen and (min-width: $tablet) {
  .component-5 {
    padding: 73px 3.45% 0 3.1%;
    > h3 {
      font-size: 29px;
    }
    > div:first-of-type {
      margin-left: 5px;
      margin-top: 11px;
    }
    .photography {
      display: none;
    }
    > div:last-of-type {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 229px 229px;
      gap: 21px;
      margin-top: 21px;
      > div {
        background-color: $main-black;
      }
    }
  }
}
