@media screen and (min-width: $tablet) {
  .component-7 {
    > img {
      width: 126px;
      margin-top: 5px;
      margin-left: 3px;
    }
    > div {
      margin-left: -8px;
      margin-bottom: 49px;
    }
    > p {
      margin-bottom: 59px;
      margin-top: 8px;
    }
  }
}
