@media screen and (min-width: $tablet) {
  .component-6 {
    padding: 57px 3.55% 0 3.15%;
    > h3 {
      font-size: 29px;
    }
    > div:nth-of-type(2) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      > div:first-of-type {
        margin-top: 15px;
      }
      > div:nth-of-type(2) {
        margin-top: 21px;
        margin-left: -11px;
      }
      > div:last-of-type {
        margin-top: -25px;
      }
    }
    form {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 9px;

      input {
        width: 100%;
      }
      input:first-of-type {
        width: 49%;
      }
      input:nth-of-type(2) {
        width: 49%;
      }
      input:nth-of-type(3) {
        margin-top: 4px;
      }
      input:nth-of-type(4) {
        margin-top: 3px;
        height: 171px;
        padding-bottom: 124px;
      }
      input:last-of-type {
        margin-top: 6px;
        margin-bottom: 82px;
      }
    }
  }
}
