@media screen and (min-width: $tablet) {
  .component-1 {
    height: 109px;
    padding: 30px 3.25% 0 3.25%;
    > div:first-of-type {
      > img {
        width: 127px;
      }
    }
    > div:nth-of-type(3) {
      > img:nth-of-type(1) {
        display: none;
      }
      > img:nth-of-type(2) {
        display: block;
        margin-top: 5px;
      }
    }
  }
}
