$header-bg: #292929;
$speaker-div-color: #d3d3d3;
$about-us-line: #e6e6e6;
$main-black: #000000;
$main-blue: #3ab6b2;
$txt-white: #ffffff;
$paragraph-top-color: #525252;
$portfolio: #323232;
$footer-white: #fefefe;
$input-txt: #7c7c7c;
$contact-txt: #606060;
