.flex {
  display: flex;
}
.raleway-extralight {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

.raleway-light {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.raleway-semibold {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.raleway-semibold-ita {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
