* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.raleway-extralight {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

.raleway-light {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.raleway-semibold {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.raleway-semibold-ita {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.component-1 {
  width: 100%;
  height: 67px;
  background-color: #000000;
  padding-top: 15px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  justify-content: space-between;
}
.component-1 .logo {
  width: 95px;
  flex-shrink: 0;
}
.component-1 .menu {
  margin-top: 2px;
}
.component-1 .menu:hover {
  cursor: pointer;
}
.component-1 .nav-links {
  display: none;
}

.component-2 {
  width: 100%;
  height: 212px;
  background-color: #292929;
  padding: 46px 7.45% 0 7.45%;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.component-2 h1:first-child {
  font-size: 25px;
  color: #ffffff;
  margin-left: -4px;
}
.component-2 h1:last-of-type {
  font-size: 30px;
  color: #ffffff;
  margin-top: -4px;
  margin-left: -8px;
  letter-spacing: -0.9px;
}
.component-2 p {
  font-size: 8.9px;
  color: #ffffff;
  margin-left: -1px;
  margin-top: 2px;
}
.component-2 div {
  width: 64px;
  height: 19px;
  padding: 2px;
  background-color: #3ab6b2;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-2 div:hover {
  cursor: pointer;
}
.component-2 button {
  border: 1px solid white;
  color: #ffffff;
  font-size: 7px;
  background-color: #3ab6b2;
  width: 63px;
  height: 16px;
}
.component-2 button:hover {
  cursor: pointer;
}

.component-3 {
  padding: 37px 6.25% 0 6.25%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.component-3 h2 {
  font-size: 27px;
  color: #3ab6b2;
}
.component-3 h2 span {
  color: #000000;
}
.component-3 > div:first-of-type {
  margin-top: 18px;
  gap: 11px;
}
.component-3 > div:first-of-type > div {
  width: 33px;
  height: 1px;
  background-color: #d3d3d3;
}
.component-3 > div:first-of-type > div:first-of-type {
  margin-left: 2px;
}
.component-3 > div:first-of-type > img {
  margin-top: -9px;
}
.component-3 > div:nth-of-type(2) {
  background-color: #000000;
  width: 100%;
  height: 207px;
  margin-top: 36px;
}
.component-3 h5 {
  font-size: 16px;
  text-align: left;
  width: 100%;
  letter-spacing: -0.35px;
  margin-top: 17px;
  margin-bottom: 12px;
}
.component-3 > div:nth-of-type(3) {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  margin-bottom: 11px;
}
.component-3 > p {
  font-size: 13px;
  line-height: 23px;
  color: #525252;
  margin-bottom: 33px;
  margin-right: auto;
}
.component-3 .check {
  margin-bottom: 19px;
  margin-right: auto;
}
.component-3 .check > img {
  object-fit: cover;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-right: 15px;
}
.component-3 .check > p {
  font-size: 13px;
  color: #525252;
  line-height: 23px;
}
.component-3 button {
  width: 138px;
  height: 42px;
  border: none;
  color: #ffffff;
  background-color: #3ab6b2;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 42px;
}
.component-3 button:hover {
  cursor: pointer;
}

.component-4 {
  padding: 36px 6.25% 0 6.25%;
  background-color: #000000;
  flex-direction: column;
  align-items: center;
}
.component-4 h2 {
  font-size: 27px;
  color: #ffffff;
  margin-bottom: 9px;
}
.component-4 > div:first-of-type {
  gap: 10px;
  margin-bottom: 89px;
}
.component-4 > div:first-of-type > div {
  width: 37px;
  height: 1px;
  background-color: #d3d3d3;
  margin-top: 9px;
}
.component-4 .services {
  flex-direction: column;
  align-items: center;
}
.component-4 .services > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 79px;
}
.component-4 .services > div h3 {
  color: #3ab6b2;
  font-size: 19px;
  margin-bottom: 13px;
}
.component-4 .services > div p {
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 20px;
}
.component-4 .services > div #visitors-paragraph {
  margin-top: 2px;
}
.component-4 .services > div #visitors-heading {
  letter-spacing: 0.3px;
}
.component-4 .services > div #sales-heading {
  letter-spacing: 0.4px;
}
.component-4 .services > div #sales-paragraph {
  line-height: 23px;
}
.component-4 .services > div:last-of-type {
  margin-bottom: 35px;
}
.component-4 .services .hexagon {
  width: 118px;
  height: 70px;
  background-color: #000000;
  position: relative;
  margin-bottom: 74px;
}
.component-4 .services .hexagon:hover::before {
  border-bottom-color: #3ab6b2;
  transition: 0.3s;
  cursor: pointer;
}
.component-4 .services .hexagon:hover::after {
  border-top-color: #3ab6b2;
  transition: 0.3s;
  cursor: pointer;
}
.component-4 .services .hexagon::before, .component-4 .services .hexagon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-left: 59px solid transparent;
  border-right: 59px solid transparent;
}
.component-4 .services .hexagon::before {
  bottom: 100%;
  border-bottom: 35px solid #000000;
}
.component-4 .services .hexagon::after {
  top: 100%;
  width: 0;
  border-top: 35px solid #000000;
}
.component-4 .services .hexagon > img:first-of-type {
  z-index: 1;
  position: absolute;
  top: -35px;
}
.component-4 .services .hexagon:hover {
  background-color: #3ab6b2;
  transition: 0.3s;
  cursor: pointer;
}
.component-4 .services .graph {
  position: absolute;
  top: 22px;
  left: 47px;
}

/*# sourceMappingURL=styles.css.map */
