* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.none {
  display: none;
}

.raleway-extralight {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

.raleway-light {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.raleway-semibold {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.raleway-semibold-ita {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  #component-1 {
    height: 100px;
    padding: 27px 19.46% 0 19.46%;
    justify-content: space-between;
  }
  #component-1 > div:nth-of-type(3) > img:last-of-type {
    display: none;
  }
  #component-1 > div:nth-of-type(2) {
    display: flex;
  }
  #component-1 .nav-links {
    order: 2;
    width: 744px;
    gap: 32px;
    padding-top: 11px;
    padding-top: 12px;
    padding-left: 2px;
    gap: 40px;
  }
  #component-1 .nav-links > a {
    text-decoration: none;
    color: #ffffff;
  }
  #component-1 .nav-links > a:hover {
    cursor: pointer;
  }
  #component-1 .nav-links > a > span {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  #component-1 {
    height: 100px;
    padding: 27px 5.46% 0 5.46%;
  }
}
.component-1 {
  width: 100%;
  height: 67px;
  padding-top: 15px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  justify-content: space-between;
}
.component-1 > div:nth-of-type(3) img:nth-of-type(2) {
  display: none;
}
.component-1 > div:nth-of-type(3) img:nth-of-type(1) {
  display: block;
}
.component-1 .logo {
  width: 95px;
  flex-shrink: 0;
}
.component-1 .menu {
  margin-top: 2px;
}
.component-1 .menu:hover {
  cursor: pointer;
}
.component-1 .nav-links {
  display: none;
}

.component-1 {
  background-color: #000000;
}

@media screen and (min-width: 768px) {
  .component-1 {
    height: 109px;
    padding: 30px 3.25% 0 3.25%;
  }
  .component-1 > div:first-of-type > img {
    width: 127px;
  }
  .component-1 > div:nth-of-type(3) > img:nth-of-type(1) {
    display: none;
  }
  .component-1 > div:nth-of-type(3) > img:nth-of-type(2) {
    display: block;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1024px) {
  #component-2 {
    height: 760px;
    position: relative;
    padding-top: 236px;
  }
  #component-2 > h1:first-of-type {
    font-size: 62px;
    margin-left: 20px;
  }
  #component-2 > h1:last-of-type {
    font-size: 74px;
    margin-left: 17px;
  }
  #component-2 > p {
    font-size: 20px;
    margin-top: 1px;
    margin-left: 17px;
    letter-spacing: -0.1px;
  }
  #component-2 img {
    display: block;
  }
  #component-2 > img:first-of-type {
    position: absolute;
    left: 37px;
    top: 302px;
  }
  #component-2 > img:last-of-type {
    position: absolute;
    right: 37px;
    top: 302px;
  }
  #component-2 > div:last-of-type {
    margin-left: 21px;
    margin-top: 41px;
  }
}
.component-2 {
  width: 100%;
  height: 212px;
  padding: 46px 7.45% 0 7.45%;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.component-2 h1:first-child {
  font-size: 25px;
  margin-left: -4px;
}
.component-2 h1:last-of-type {
  font-size: 30px;
  margin-top: -4px;
  margin-left: -8px;
  letter-spacing: -0.9px;
}
.component-2 p {
  font-size: 8.9px;
  margin-left: -1px;
  margin-top: 2px;
}
.component-2 > p:first-of-type {
  display: block;
}
.component-2 > p:last-of-type {
  display: none;
}
.component-2 div {
  width: 64px;
  height: 19px;
  padding: 2px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-2 div:hover {
  cursor: pointer;
}
.component-2 button {
  border: 1px solid white;
  font-size: 7px;
  width: 63px;
  height: 16px;
}
.component-2 button:hover {
  cursor: pointer;
}

.component-2 {
  background-color: #292929;
}
.component-2 h1:first-child {
  color: #ffffff;
}
.component-2 h1:last-of-type {
  color: #ffffff;
}
.component-2 p {
  color: #ffffff;
}
.component-2 div,
.component-2 button {
  background-color: #3ab6b2;
}
.component-2 button {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .component-2 {
    padding: 150px 4.7% 0 4.7%;
    height: 591px;
  }
  .component-2 > h1:first-of-type {
    font-size: 59px;
  }
  .component-2 > h1:nth-of-type(2) {
    font-size: 71.77px;
    letter-spacing: -2.2px;
  }
  .component-2 > p:first-of-type {
    display: none;
  }
  .component-2 > p:last-of-type {
    display: block;
    font-size: 18.9px;
    display: block;
    font-size: 18.8px;
    letter-spacing: 0.02px;
  }
  .component-2 div:last-of-type {
    width: 144px;
    height: 44px;
    margin-left: -6px;
    margin-top: 36px;
  }
  .component-2 div:last-of-type > button {
    width: 140px;
    height: 40px;
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  #component-3 {
    padding-top: 115px;
    padding-left: 19.42%;
    padding-right: 19.42%;
    height: 816px;
  }
  #component-3 > h2 {
    font-size: 31px;
  }
  #component-3 > div:nth-of-type(2),
  #component-3 > h5,
  #component-3 > div:nth-of-type(3),
  #component-3 > p,
  #component-3 .check,
  #component-3 > button {
    display: none;
  }
  #component-3 .desktop-aboutus {
    display: flex;
    width: 100%;
    margin-top: 99px;
  }
  #component-3 .desktop-aboutus > .aboutus-txt {
    margin-left: 90px;
    margin-top: -5px;
  }
  #component-3 .desktop-aboutus > .aboutus-txt > h2 {
    font-size: 31px;
    color: #323232;
    letter-spacing: -0.6px;
    margin-bottom: 24px;
  }
  #component-3 .desktop-aboutus > .aboutus-txt > p {
    font-size: 14px;
    color: #6a6a6a;
    line-height: 26px;
  }
  #component-3 .desktop-aboutus > .aboutus-txt .features {
    margin-top: 48px;
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 621px;
    row-gap: 51px;
  }
  #component-3 .desktop-aboutus > .aboutus-txt .features > div {
    width: 50%;
  }
  #component-3 .desktop-aboutus > .aboutus-txt .features > div > div:first-of-type {
    flex-shrink: 0;
    width: 63px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    border-radius: 50%;
  }
  #component-3 .desktop-aboutus > .aboutus-txt .features > div > div:last-of-type {
    margin-left: 26px;
  }
  #component-3 .desktop-aboutus > .aboutus-txt .features > div h6 {
    font-size: 18px;
    color: #323232;
  }
  #component-3 .desktop-aboutus > .aboutus-txt .features > div p {
    font-size: 13px;
    color: #6a6a6a;
    margin-top: 9px;
    margin-left: 2px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  #component-3 {
    padding-left: 5%;
    padding-right: 5%;
    height: 1010px;
  }
  #component-3 .desktop-aboutus > div > img {
    margin-top: 100px;
  }
  #component-3 #features {
    width: 100%;
    margin-bottom: 50px;
  }
  #component-3 #features > div {
    width: 100%;
  }
}
.component-3 {
  padding: 37px 6.25% 0 6.25%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.component-3 h2 {
  font-size: 27px;
}
.component-3 > div:first-of-type {
  margin-top: 18px;
  gap: 11px;
}
.component-3 > div:first-of-type > div {
  width: 33px;
  height: 1px;
  background-color: #d3d3d3;
}
.component-3 > div:first-of-type > div:first-of-type {
  margin-left: 2px;
}
.component-3 > div:first-of-type > img {
  margin-top: -9px;
}
.component-3 > div:nth-of-type(2) {
  width: 100%;
  height: 207px;
  margin-top: 36px;
}
.component-3 h5 {
  font-size: 16px;
  text-align: left;
  width: 100%;
  letter-spacing: -0.35px;
  margin-top: 17px;
  margin-bottom: 12px;
}
.component-3 > div:nth-of-type(3) {
  width: 100%;
  height: 1px;
  margin-bottom: 11px;
}
.component-3 > p {
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 33px;
  margin-right: auto;
}
.component-3 .check {
  margin-bottom: 19px;
  margin-right: auto;
}
.component-3 .check > img {
  object-fit: cover;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-right: 15px;
}
.component-3 .check > p {
  font-size: 13px;
  color: #525252;
  line-height: 23px;
}
.component-3 button {
  width: 138px;
  height: 42px;
  border: none;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 42px;
}
.component-3 button:hover {
  cursor: pointer;
}

.component-3 h2 {
  color: #3ab6b2;
}
.component-3 h2 span {
  color: #000000;
}
.component-3 > div:nth-of-type(2) {
  background-color: #000000;
}
.component-3 > div:nth-of-type(3) {
  background-color: #e6e6e6;
}
.component-3 > p {
  color: #525252;
}
.component-3 button {
  color: #ffffff;
  background-color: #3ab6b2;
}

@media screen and (min-width: 768px) {
  .component-3 {
    padding: 74px 3.25% 0 3.25%;
  }
  .component-3 > h2 {
    font-size: 29px;
  }
  .component-3 > div:first-of-type {
    margin-left: -6px;
  }
  .component-3 > div:first-of-type > div:last-child {
    margin-top: 0;
  }
  .component-3 > div:nth-of-type(2) {
    margin-top: 59px;
    height: 420px;
  }
  .component-3 h5 {
    font-size: 25px;
    margin-left: -6px;
    margin-top: 29px;
    margin-bottom: 17px;
  }
  .component-3 > p:nth-of-type(1) {
    display: none;
  }
  .component-3 > p:nth-of-type(2) {
    display: block;
    margin-top: 6px;
    margin-bottom: 37px;
  }
  .component-3 .check {
    width: 83%;
  }
  .component-3 .check p:first-of-type {
    display: none;
  }
  .component-3 .check p:last-of-type {
    display: block;
  }
  .component-3 button {
    margin-bottom: 76px;
  }
}
@media screen and (min-width: 1024px) {
  #component-4 {
    padding-top: 138px;
    padding-left: 15.7%;
    padding-right: 15.7%;
    height: 784px;
  }
  #component-4 > h2 {
    font-size: 31px;
    margin-bottom: 7px;
  }
  #component-4 > div:first-of-type {
    margin-bottom: 180px;
  }
  #component-4 .services {
    flex-direction: row;
  }
  #component-4 .services > div:last-of-type {
    margin-top: -33px;
  }
  #component-4 .services > div:last-of-type > div:first-of-type {
    margin-bottom: 71px;
  }
  #component-4 .services > div > p {
    width: 67%;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  #component-4 {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.component-4 {
  padding: 36px 6.25% 0 6.25%;
  flex-direction: column;
  align-items: center;
}
.component-4 h2 {
  font-size: 27px;
  margin-bottom: 9px;
}
.component-4 > div:first-of-type {
  gap: 10px;
  margin-bottom: 89px;
}
.component-4 > div:first-of-type > div {
  width: 37px;
  height: 1px;
  margin-top: 9px;
}
.component-4 .services {
  flex-direction: column;
  align-items: center;
}
.component-4 .services > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 79px;
}
.component-4 .services > div h3 {
  font-size: 19px;
  margin-bottom: 13px;
}
.component-4 .services > div p {
  font-size: 13px;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 20px;
}
.component-4 .services > div #visitors-paragraph {
  margin-top: 2px;
}
.component-4 .services > div #visitors-heading {
  letter-spacing: 0.3px;
}
.component-4 .services > div #sales-heading {
  letter-spacing: 0.4px;
}
.component-4 .services > div #sales-paragraph {
  line-height: 23px;
}
.component-4 .services > div:last-of-type {
  margin-bottom: 35px;
}
.component-4 .services .hexagon {
  width: 118px;
  height: 70px;
  background-color: #000000;
  position: relative;
  margin-bottom: 74px;
}
.component-4 .services .hexagon:hover::before {
  border-bottom-color: #3ab6b2;
  transition: 0.3s;
  cursor: pointer;
}
.component-4 .services .hexagon:hover::after {
  border-top-color: #3ab6b2;
  transition: 0.3s;
  cursor: pointer;
}
.component-4 .services .hexagon::before, .component-4 .services .hexagon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-left: 59px solid transparent;
  border-right: 59px solid transparent;
}
.component-4 .services .hexagon::before {
  bottom: 100%;
  border-bottom: 35px solid #000000;
}
.component-4 .services .hexagon::after {
  top: 100%;
  width: 0;
  border-top: 35px solid #000000;
}
.component-4 .services .hexagon > img:first-of-type {
  z-index: 1;
  position: absolute;
  top: -35px;
}
.component-4 .services .hexagon:hover {
  background-color: #3ab6b2;
  transition: 0.3s;
  cursor: pointer;
}
.component-4 .services .graph {
  position: absolute;
  top: 22px;
  left: 47px;
}

.component-4 {
  background-color: #000000;
}
.component-4 h2 {
  color: #ffffff;
}
.component-4 > div:first-of-type > div {
  background-color: #d3d3d3;
}
.component-4 .services > div h3 {
  color: #3ab6b2;
}
.component-4 .services > div p {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .component-4 {
    padding-top: 71px;
  }
  .component-4 > h2 {
    font-size: 29px;
    margin-bottom: 12px;
  }
  .component-4 > div:nth-of-type(1) {
    gap: 6px;
    margin-bottom: 98px;
  }
  .component-4 .services > div h3 {
    font-size: 20px;
    margin-top: 5px;
  }
  .component-4 .services > div p {
    width: 44%;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 32px;
  }
  .component-4 .services > div #sales-paragraph {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1024px) {
  #component-5 {
    padding-top: 105px;
    padding-left: 0;
    padding-right: 0;
  }
  #component-5 > h3 {
    font-size: 31px;
    margin-left: 5px;
  }
  #component-5 > div:nth-of-type(3) {
    display: none;
  }
  #component-5 > div:nth-of-type(4) {
    display: grid;
    width: 100%;
    margin-top: 51px;
    grid-template-columns: repeat(5, 19.9%);
    grid-template-rows: 379px 379px;
    gap: 0.125%;
    row-gap: 5px;
  }
  #component-5 > div:nth-of-type(4) > div {
    background-color: #000000;
  }
  #component-5 > div:nth-of-type(4) > div:hover > div {
    display: block;
    cursor: pointer;
  }
  #component-5 > div:nth-of-type(4) > div > div {
    display: none;
  }
  #component-5 > div:nth-of-type(4) > div > div > div:first-of-type {
    width: 100%;
    height: 300px;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #component-5 > div:nth-of-type(4) > div > div > div:first-of-type > div:first-child {
    margin-left: -23px;
    margin-right: 10px;
  }
  #component-5 > div:nth-of-type(4) > div > div > div:first-of-type > div {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #3ab6b2;
    background-color: #3ab6b2;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #component-5 > div:nth-of-type(4) > div > div > div:first-of-type > div:hover {
    background-color: #666666;
    transition: 0.4s;
  }
  #component-5 > div:nth-of-type(4) > div > div > div:last-of-type {
    width: 100%;
    height: 75px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #component-5 > div:nth-of-type(4) > div > div > div:last-of-type > h6 {
    margin-top: 2px;
    font-size: 17px;
    color: #ffffff;
    margin-left: -11px;
  }
  #component-5 > div:nth-of-type(4) > div > div > div:last-of-type > p {
    margin-top: 6px;
    font-size: 13px;
    color: #3ab6b2;
  }
  #component-5 > div:nth-of-type(4) > div:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #component-5 > div:nth-of-type(4) > div:nth-of-type(3) {
    grid-column-start: 4;
    grid-column-end: 6;
  }
  #component-5 > div:nth-of-type(4) > div:nth-of-type(5) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
.component-5 {
  flex-direction: column;
  align-items: center;
  padding: 38px 6.25% 0 6.25%;
}
.component-5 h3 {
  font-size: 27px;
}
.component-5 > div:first-of-type {
  margin-left: -4px;
  margin-top: 9px;
  gap: 8px;
  margin-bottom: 35px;
}
.component-5 > div:first-of-type > div {
  width: 33px;
  height: 1px;
  margin-top: 9px;
}
.component-5 .photography {
  width: 100%;
  grid-template-columns: 1fr;
  gap: 7px;
  grid-template-rows: repeat(4, 163px);
}
.component-5 .photography > div:hover #photography-hidden {
  display: flex;
  cursor: pointer;
}
.component-5 .photography > div > div {
  width: 100%;
  height: 100%;
  background-color: #666666;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: none;
}
.component-5 .photography > div > div > div:last-child {
  width: 100%;
  height: 54px;
  background-color: #000000;
}
.component-5 .photography > div > div .photography-icons {
  gap: 6.4px;
  margin-top: 43px;
}
.component-5 .photography > div > div .photography-icons > div {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3ab6b2;
  background-color: #3ab6b2;
}
.component-5 .photography > div > div .photography-icons > div:hover {
  background-color: #666666;
  transition: 0.4s;
}
.component-5 .photography > div > div .photography-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.component-5 .photography > div > div .photography-txt > h6 {
  color: #ffffff;
  font-size: 14px;
}
.component-5 .photography > div > div .photography-txt > p {
  font-size: 11px;
  color: #3ab6b2;
  margin-top: 3px;
}

.component-5 h3 {
  color: #323232;
}
.component-5 > div:first-of-type > div {
  background-color: #d3d3d3;
}
.component-5 .photography > div {
  background-color: #000000;
}

@media screen and (min-width: 768px) {
  .component-5 {
    padding: 73px 3.45% 0 3.1%;
  }
  .component-5 > h3 {
    font-size: 29px;
  }
  .component-5 > div:first-of-type {
    margin-left: 5px;
    margin-top: 11px;
  }
  .component-5 .photography {
    display: none;
  }
  .component-5 > div:nth-of-type(3) {
    display: grid;
    margin-bottom: 20px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 229px 229px;
    gap: 21px;
    margin-top: 21px;
  }
  .component-5 > div:nth-of-type(3) > div {
    background-color: #000000;
  }
  .component-5 > div:nth-of-type(3) > div:hover > div {
    display: block;
  }
  .component-5 > div:nth-of-type(3) > div > div {
    width: 100%;
    height: 100%;
    display: none;
  }
  .component-5 > div:nth-of-type(3) > div > div > div:first-of-type {
    width: 100%;
    height: 171px;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .component-5 > div:nth-of-type(3) > div > div > div:first-of-type > div:first-child {
    margin-left: -5px;
    margin-right: 10px;
  }
  .component-5 > div:nth-of-type(3) > div > div > div:first-of-type > div {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 2px solid #3ab6b2;
    background-color: #3ab6b2;
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .component-5 > div:nth-of-type(3) > div > div > div:first-of-type > div:hover {
    background-color: #666666;
    transition: 0.4s;
  }
  .component-5 > div:nth-of-type(3) > div > div > div:last-of-type {
    width: 100%;
    height: 58px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .component-5 > div:nth-of-type(3) > div > div > div:last-of-type > h6 {
    margin-top: 2px;
    font-size: 12px;
    color: #ffffff;
  }
  .component-5 > div:nth-of-type(3) > div > div > div:last-of-type > p {
    margin-top: 6px;
    font-size: 10px;
    color: #3ab6b2;
  }
}
@media screen and (min-width: 1024px) {
  #component-6 {
    padding-top: 91px;
    padding-left: 25.4%;
    padding-right: 25.4%;
  }
  #component-6 > h3 {
    font-size: 31px;
    margin-left: 5px;
  }
  #component-6 > div:nth-of-type(2) {
    width: 82%;
    margin-top: 32px;
    margin-left: 7px;
  }
  #component-6 > div:nth-of-type(2) > div:nth-of-type(2) {
    margin-left: 27px;
  }
  #component-6 > div:nth-of-type(2) > div:last-of-type {
    width: 179px;
  }
  #component-6 form {
    margin-top: 44px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  #component-6 {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.component-6 {
  padding: 45px 6.25% 0 6.25%;
  flex-direction: column;
  align-items: center;
}
.component-6 > h3 {
  font-size: 27px;
}
.component-6 > div:first-of-type {
  margin-top: 11px;
  gap: 8px;
  margin-bottom: 44px;
}
.component-6 > div:first-of-type > div {
  width: 33px;
  height: 1px;
  background-color: #d3d3d3;
  margin-top: 7px;
}
.component-6 div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.component-6 div:nth-of-type(2) > div:not(:last-of-type) {
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.component-6 div:nth-of-type(2) > div:not(:last-of-type) p {
  margin-top: 6px;
  font-size: 15px;
  letter-spacing: 0.7px;
  color: #606060;
}
.component-6 div:nth-of-type(2) > div:not(:last-of-type) img:nth-of-type(2) {
  margin-top: 40px;
  margin-bottom: 23px;
}
.component-6 div:nth-of-type(2) > div:not(:last-of-type) img:nth-of-type(3) {
  margin-top: 40px;
  margin-bottom: 16px;
}
.component-6 div:nth-of-type(2) div:last-of-type {
  flex-direction: column;
  align-items: center;
  margin-bottom: -1px;
}
.component-6 div:nth-of-type(2) div:first-of-type img {
  margin-bottom: 16px;
}
.component-6 div:nth-of-type(2) div:nth-of-type(2) img {
  margin-bottom: 23px;
}
.component-6 div:nth-of-type(2) div:last-of-type img {
  margin-bottom: 21px;
}
.component-6 div:nth-of-type(2) div:last-of-type p:nth-of-type(1) {
  margin-bottom: 6px;
  color: #606060;
}
.component-6 div:nth-of-type(2) div:last-of-type p:nth-of-type(2) {
  color: #606060;
}
.component-6 form {
  margin-top: 41px;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.component-6 form > input {
  height: 46px;
  color: #7c7c7c;
  font-size: 14px;
  padding-bottom: 3px;
  padding-left: 9px;
}
.component-6 form > input:nth-of-type(4) {
  height: 141px;
  padding-bottom: 100px;
}
.component-6 form > input:last-of-type {
  width: 160px;
  height: 42px;
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 44px;
  color: #ffffff;
  border: none;
  background-color: #3ab6b2;
  padding-top: 5px;
  padding-left: 0;
  padding-right: 3px;
}
.component-6 form > input:last-of-type:hover {
  cursor: pointer;
}

.component-6 form > input {
  border: 1px solid #d4d4d4;
}

@media screen and (min-width: 768px) {
  .component-6 {
    padding: 57px 3.55% 0 3.15%;
  }
  .component-6 > h3 {
    font-size: 29px;
  }
  .component-6 > div:nth-of-type(2) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .component-6 > div:nth-of-type(2) > div:first-of-type {
    margin-top: 15px;
  }
  .component-6 > div:nth-of-type(2) > div:nth-of-type(2) {
    margin-top: 21px;
    margin-left: -11px;
  }
  .component-6 > div:nth-of-type(2) > div:last-of-type {
    margin-top: -25px;
  }
  .component-6 form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 9px;
  }
  .component-6 form input {
    width: 100%;
  }
  .component-6 form input:first-of-type {
    width: 49%;
  }
  .component-6 form input:nth-of-type(2) {
    width: 49%;
  }
  .component-6 form input:nth-of-type(3) {
    margin-top: 4px;
  }
  .component-6 form input:nth-of-type(4) {
    margin-top: 3px;
    height: 171px;
    padding-bottom: 124px;
  }
  .component-6 form input:last-of-type {
    margin-top: 6px;
    margin-bottom: 82px;
  }
}
@media screen and (min-width: 1024px) {
  #component-7 > div {
    margin-left: 3px;
  }
}
.component-7 {
  padding-top: 43px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.component-7 > img {
  width: 114px;
}
.component-7 .footer-icons {
  flex-wrap: wrap;
  width: 62%;
  gap: 9px;
  margin-top: 41px;
  justify-content: center;
  margin-bottom: 41px;
}
.component-7 .footer-icons > div {
  width: 40px;
  height: 40px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-7 .footer-icons > div:hover {
  cursor: pointer;
}
.component-7 .footer-icons > div:nth-of-type(1):hover {
  background-color: rgb(247, 196, 103);
  transition: 0.4s;
}
.component-7 .footer-icons > div:nth-of-type(2):hover {
  background-color: #1da1f2;
  transition: 0.4s;
}
.component-7 .footer-icons > div:nth-of-type(3):hover {
  background-color: #46629e;
  transition: 0.4s;
}
.component-7 .footer-icons > div:nth-of-type(4):hover {
  background-color: rgb(247, 196, 103);
  transition: 0.4s;
}
.component-7 .footer-icons > div:nth-of-type(5):hover {
  background-color: rgb(247, 196, 103);
  transition: 0.4s;
}
.component-7 .footer-icons > div:nth-of-type(6):hover {
  background-color: rgb(247, 196, 103);
  transition: 0.4s;
}
.component-7 p {
  font-size: 11px;
  letter-spacing: 0.4px;
  margin-bottom: 41px;
}

.component-7 {
  background-color: #000000;
}
.component-7 p {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .component-7 > img {
    width: 126px;
    margin-top: 5px;
    margin-left: 3px;
  }
  .component-7 > div {
    margin-left: -8px;
    margin-bottom: 49px;
  }
  .component-7 > p {
    margin-bottom: 59px;
    margin-top: 8px;
  }
}

/*# sourceMappingURL=styles.css.map */
